<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Estilos de Apariencia
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Temas</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="row pad30-h">
  <div class="fixed-action-btn " style="top: 250px; bottom: 0px">
    <a href="/temas/agregar" class="btn-floating btn-sm waves-effect waves-light red left absolute tooltipped" style="margin-bottom: 60px;" data-position="left" data-delay="50" data-tooltip="Agregar Tema">
      <i class=" mdi-av-playlist-add"></i>
    </a>
  </div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema1-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Azul</h5>
					<p>
						El diseño en azul te permitirá asociar tu organización con la estabilidad y la profundidad, ademas representando la lealtad, confianza, sabiduría e inteligencia que los caracteriza.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/estilos/Tema1-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="small mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema1-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="small mdi-action-launch"></i></a>
					<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Editar" ><i class=" small mdi-editor-border-color"></i></a>
                 	<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Eliminar" ><i class=" small mdi-action-delete"></i></a>
				</div>
			</div>
		</div>
	</div>


	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/blanco.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Blanco</h5>
					<p>
						El diseño en blanco te permitirá asociar tu organización con la armonía, el crecimiento y la frescura. Si tu empresa es conservacionista o sobre productos de medicina este color es el ideal.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/estilos/blanco.jpg"  class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="small mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/blanco.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="small mdi-action-launch"></i></a>
					<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Editar" ><i class=" small mdi-editor-border-color"></i></a>
                 	<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Eliminar" ><i class=" small mdi-action-delete"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema2-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Rojo</h5>
					<p>
						El diseño en rojo te permitirá llevar un color intenso a tu organización, la energía, la fortaleza y determinación. Resalta sobre el resto de los colores.
					</p>
					
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/estilos/Tema2-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="small mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema2-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="small mdi-action-launch"></i></a>
					<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Editar" ><i class=" small mdi-editor-border-color"></i></a>
                 	<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Eliminar" ><i class=" small mdi-action-delete"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema3-Empresa.png" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Menta</h5>
					<p>
						El diseño en rojo te permitirá llevar un color intenso a tu organización, la energía, la fortaleza y determinación. Resalta sobre el resto de los colores.
					</p>
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/estilos/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="small mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Ver" target="_blank"><i class="small mdi-action-launch"></i></a>
					<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Editar" ><i class=" small mdi-editor-border-color"></i></a>
                 	<a href="#" class="tooltipped" data-position="bottom"  data-tooltip="Eliminar" ><i class=" small mdi-action-delete"></i></a>
				</div>
			</div>
		</div>
	</div>
	

</div>