.banner-perfil {
  background-image: url("/assets/template/banners/general-menta.png") !important; 
}
.banner-sidebar {
  background-image: url("/assets/template/banners/administrable-menta.png")!important; 
  height: 128px;
}

.div-registro-banner {
  background-image: url('/assets/template/banners/general-menta.png')!important;
  }

/**** Header ***/
.nav-wrapper {
    background-color: white !important;
    padding: 0px 0px 0px 0px;
}

body{
  /*background-image: url(<%= asset_path 'Background.jpg' %>);
  background-size: cover;*/
  background-color: #e8e7ed;
  height: 100%;
}


/*** Menu **/
.side-nav a {
    color: #444;
    display: initial !important;
    font-size: 1rem;
    height: 20px;
    line-height: 20px;
    padding: 0 0px !important; 
}

.x-tree-node-text{
    font-size: 1rem;
    color: #BB5A78 !important;
    font-family: Roboto;
    height: 40px;
     text-transform: capitalize;
}
.x-tree-node-text > i{
  color: #713ce2 !important;
}
.x-grid-item-focused .x-grid-cell-inner:before{
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:none;
}

.x-grid-item-selected {
    color: #BB5A78 !important;
    background-color: #EBECE8 !important;
}

.x-grid-item-over{
  background-color: #EBECE8 !important;
  color:#BB5A78;
}

.x-grid-item-focused{
	outline:0;
  color:#BB5A78;
}

.x-grid-item-selected{
	color:black;
	background-color:#c1ddf1
}
