<div id="card-container" class="white modal">
  <div class="modal-content">

    <div class='contactPic'></div>
      <ul class="right-align">
        <li>
           <a href="#" class="waves-effect btn-flat modal-close end-call" style="padding: 0;"><i class="mdi-content-clear"></i></a>
        </li>
        <li><a href="javascript:void(0)">
          <i class="small mdi-communication-message deep-purple-text darken-1"></i></a>
        </li>
        <li><a href="javascript:void(0)">
          <i class="small mdi-av-volume-up deep-purple-text darken-1"></i></a>
        </li>
        <li><a href="javascript:void(0)">
          <i class="small  mdi-av-mic-off deep-purple-text darken-1"></i></a>
        </li>
        <li><a href="javascript:void(0)">
          <i class="small  mdi-communication-dialpad deep-purple-text darken-1"></i></a>
        </li>
      </ul>
      <span class="end-call-botton z-depth-1 end-call">
        <i class="small  mdi-communication-call-end"></i>
      </span>
  </div>
</div>