
<link rel="stylesheet" href="http://lvh.me:3000/bootstrap-3.2.0/css/bootstrap.css"/>
<!-- Elusive Icons -->
<link rel="stylesheet" href="http://lvh.me:3000/icon-fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
<!-- Bootstrap-Iconpicker -->
<link rel="stylesheet" href="http://lvh.me:3000/bootstrap-iconpicker/css/bootstrap-iconpicker.css"/>
 <!-- jQuery -->
  <script type="text/javascript" src="http://lvh.me:3000/jquery/jquery-1.10.2.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="http://lvh.me:3000/bootstrap-3.2.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="http://lvh.me:3000/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js"></script> 
  <!-- Bootstrap-Iconpicker -->
  <script type="text/javascript" src="http://lvh.me:3000/bootstrap-iconpicker/js/bootstrap-iconpicker.js"></script>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Crear Nueva Red Social
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Crear Red Social</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div id="form_wizard_1" class="center-block">
  <%= form_for @red_social, :url => red_socials_crear_red_social_path, html:{id: "add_red_social", class: "form-horizontal"} do |f| %>
    <div class="form-wizard">
      <div class="form-body steps">
        
        
        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert-success display-none">
            <button class="close" data-dismiss="alert"></button>
            La validación fue exitosa.
          </div>
          <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="col s8 offset-s2 left">
                <h5 >Datos de la Red Social </h5>
    
                <div class="input-field col s10">
                  <label for="nombre">Nombre <span class="required">
                  * </span>
                  </label>
                  <%= f.text_field :nombre, :required=>true, autocomplete: "off" %>
                </div>
                <input type="hidden" id="icono" name="red_social[icono]">
                <div class="col s12" style="padding-top: 20px;">
              
                  <div class=" col " >
                      <p style="color: #9E9E9E"><b>Icono:</b></p>
                  </div>

                  <div class="col s3" id="div_icono"  >
                      <button class="btn grey" data-iconset="fontawesome" 
                          data-placement="right"
                          data-unselected-class="btn-info" data-arrow-class="pink lighten-1"
                          data-arrow-prev-icon-class="glyphicon glyphicon-chevron-left"
                          data-arrow-next-icon-class="glyphicon glyphicon-chevron-right" id="iconoPicker"  role="iconpicker">
                      </button>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="offset-s1 col s8 text-center">
            <input type="submit" class="btn btn-success " value="Guardar">
            <button type="button" onclick="window.location.href='/redes_sociales'" class="btn btn-danger waves-effect" > Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $(' .alert-danger').hide();
      $('.alert-success').hide();
     
  });

     $('#iconoPicker').iconpicker({
        rows:3,
       searchText: 'Buscar...',
       cols:5
      });

  $('.dropdown-toggle').dropdown();

      $('#iconoPicker').on('change', function() {
        var icono = $('#iconoPicker > i').attr('class');
        if (icono == "fa fa-") {
            
            $('#icono').val("");
            $('#icono-error').show();

        }else{

            $('#icono').val(icono);
            $('#icono-error').hide();

        };
         
      });
</script>
