 
<!-- Bootstrap -->
<link rel="stylesheet" href="bootstrap-3.2.0/css/bootstrap.css"/>
<!-- Elusive Icons -->
<link rel="stylesheet" href="icon-fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
<!-- Bootstrap-Iconpicker -->
<link rel="stylesheet" href="bootstrap-iconpicker/css/bootstrap-iconpicker.css"/>

<!-- jQuery -->
<script type="text/javascript" src="jquery/jquery-1.10.2.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="bootstrap-3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js"></script> 
<!-- Bootstrap-Iconpicker -->
<script type="text/javascript" src="bootstrap-iconpicker/js/bootstrap-iconpicker.js"></script>

<script type="text/javascript">
       var home_app = '<%= "http://#{request.host}:#{request.port}/"%>';
</script>

<script type="text/javascript" src= "http://lvh.me:3000/js/estructura_jerarquica.js"></script>


<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
         Estructura Jerarquica
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Estructura Jerarquica</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <div class="col s12">
    <div class="row">
      <div class="input-field col s4">

        <select id="select" name="rol" >
            <option value="-1" disabled selected>Elija un rol</option>
            <%= options_from_collection_for_select(Rol.all, :id, :nombre) %>
        </select>
       
        <label>Roles</label>
      </div>
      <div class="col s4 offset-s1 transparent tree_estructura" id="tree">
      </div>
    </div>

    <div class="row">
      
    </div>

    <div id="ventanaEdicion" class="modal text-center">
      
      <div class="panel-body">
        <strong>
          <legend class="text-center" id="titulo">Agregar Nodo</legend>
        </strong>
        <div class="col s12 text-center">
          <div class="input-field ">      
          </div>
        </div>
         <div class="col s12">
            <div class="row"> 
              <div class="input-field col s12">
                    <input id="nombre" type="text" class="validate">
                    <label for="nombre">Nombre:</label>
              </div>
            </div> 

            <div class="row">
              
              <div class=" col s2">

                <label>Icono:</label>

              </div>
              <div class=" col s3">
                <button class="btn grey" data-iconset="fontawesome" 
                    data-icon="fa-wifi" data-placement="right"
                    data-unselected-class="btn-info" data-arrow-class="pink lighten-1"
                    data-arrow-prev-icon-class="glyphicon glyphicon-chevron-left"
                    data-arrow-next-icon-class="glyphicon glyphicon-chevron-right" id="icono"  role="iconpicker">
                </button>
                <div id="icon" name="fa-home" onload="AddListeners ();"></div>
              </div>
            </div>

            <div class="row"> 
              <div class="input-field col s12">
                  <input id="url" type="text" class="validate">
                  <label for="url">Url:</label>
              </div>
            </div> 

            <button type="submit" id="btnGuardar" class= "btn btnForm waves-effect pink accent-4 lighten-2 "> <i class="fa fa-save"></i> Guardar</button>
            <button type="submit"  id="btnCancelar" class= "btn btnForm waves-effect accent-4 lighten-2 "><i class="fa fa-times"></i> Cancelar</button>
        </div>
            
      </div>
 
    </div>

  </div>
</div>
<script type="text/javascript">
  $('#icono').iconpicker({
    rows:3,
   searchText: 'Buscar...',
   cols:5,
   icon: $('#icon').attr("name")
 });
$('.dropdown-toggle').dropdown();



</script>
