<div id ="chat" class="popup-box">
    <div class="no-margin-v">
        <div class="col s12 no-padding">
            <div class="panel panel-primary no-margin-v">
                <div class="panel-heading row no-margin-v " id="minim_chat_window">

                    <div class="col s8 no-padding">
                        <i class="fa fa-weixin"></i>
                    <span>Chat en Vivo </span>
                    </div>
                    <div class="col s4 no-padding top-chat" style="text-align: right;">
                        <a href="#"><span  class="fa fa-phone white-text"></span></a>
                        <a href="#"><span  class="fa fa-cog white-text"></span></a>
                        <a href="#"><span  class="fa fa-minus icon_minim white-text"></span></a>
                        <a href="#"><span class="fa fa-times white-text" id="removeClass"></span></a>
                    </div>
                    
                </div>
                <div class="panel-body chat-panel">
                    <ul class="chat">
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Ingrese su Mensaje Aqui">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" style="padding: 0 1rem;"> Enviar </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



