 <footer id="fondo" class="page-footer">
  <div class="contenedor">
    <div class="row">
      <div class="col s2">
        <img src="<%= asset_path 'footer-logo.png' %>">
      </div>
      <div id="contenedor-letras" class="col s5">
        <h5 class="white-text">Llamanos a cualquier hora</h5>
        <span class="numero">0500-</span>
        <span id="numero-rosa">7893546</span>
        <span class="numero">-00</span>
      </div>
      <div class="col 2">
        <h6 id="color-purple">LINKS</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Caracter&iacute;sticas</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Precios</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CRUMBIK M&oacute;vil</a></li>
          </ul>
      </div>
      <div class="col 2">
        <h6 id="color-pink">RECURSOS</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Centro de Ayuda</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Tutoriales</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blogs</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Foros de Discusi&oacute;n</a></li>
          </ul>
      </div>
      <div class="col 2">
        <h6 id="color-blue">ACERCA DE CRM</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">&iquest;Qu&eacute; es un CRM?</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">&iquest;C&oacute;mo funciona un CRM?</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">&iquest;C&oacute;mo adquir el CRM?</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">&iquest;Eres nuevo en CRM?</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div id="redes" class="row">
        <a href="#!"><i class="fa fa-facebook fa-2x estilo white-text"></i></a>
        <a href="#!"><i class="fa fa-twitter fa-2x estilo white-text"></i></a>
        <a href="#!"><i class="fa fa-linkedin fa-2x white-text"></i></a>
    </div> 
  </div>
</footer>