<aside id="sidebar-menu" >
	<div class="banner banner-sidebar  center" >
		<div class="col s3 div-foto-sidebar">
          	<img src="<%= @foto %>" >
   		</div>
	    <div class="contenedor">
	        <span><%= current_usuario.username%></span>
	    </div>
	</div>
	<div class="toggler-wrapper">
		<a href="javascript:void(0)"><i class="mdi-navigation-menu small"></i><span>Esconder menu</span></a>
	</div>
	<%= construir @menu %>
</aside>