<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "fullcalendar" %>
<% end %>

<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase ">
       Mi Calendario
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Calendario</li>
      </ol>
    </div>
  </div>
</div>

<div class="row ">
	<div class="col-md-2"> </div>
  <div class="col-md-8 white pad45">
    <div id='calendar'></div>
  </div>  
  <div class="col-md-2"> </div>
   <div class="fixed-action-btn " style="top: 250px; bottom: 0px">
    <a href="/evento/agregar" class="btn-floating btn-sm waves-effect waves-light red tooltipped" style="margin-bottom: 60px;" data-position="left" data-delay="50" data-tooltip="Agregar Evento">
      <i class=" mdi-av-playlist-add"></i>
    </a>
  </div>

</div>	


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'fullcalendar.min' %>
 

  <script type="text/javascript">
  
     $('#calendar').fullCalendar({

      eventClick: function(calEvent, jsEvent, view) {
         var html = "<h4>"+ calEvent.title + "</h4>" + "<p>" + calEvent.description + "</p>";
        $('#modal1 > .modal-content').html(html);
        $('#modal1').openModal();
        // alert('Evento: ' + calEvent.title + "\n\nDescripcion: " + calEvent.description);
        },
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek'
        },

        defaultDate: Date(),
        editable: false,
        eventLimit: true, // allow "more" link when too many events
         eventSources: [
      {
        url: '/eventos'
      }
    ],
    });

</script>
<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
  </div>
      <div class="modal-footer">
        <input class="btn btn-danger btn-sm modal-close" value="Borrar" type="button">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.3/jquery-ui.css' rel='stylesheet' />
<% end %>