<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
         Desarrolladores
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Desarrolladores</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h valign-wrapper">
    <div class="col s12 center-align">
          <img src="/assets/dreamTeam.png" />
     </div>
</div>
