<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "fullcalendar" %>
   <%= stylesheet_link_tag    "portal" %>
<% end %>
<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase">Inicio</h5>
    </div>
    <div class="col s6 text-right">
      <ol class="breadcrumb">
        <li class="active"><%= link_to "Home", root_path %></li>
      </ol>
    </div>
  </div>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="panel panel-primary">
			
			<div class="panel-heading"><i class="fa fa-bullhorn"></i> Últimos Mensajes</div>
  		<div class="panel-body">
              <ul id="lista-ultimos-mensajes" class="bordered hoverable">            
          </ul>
      </div>

		</div>
    
	</div>
	<div class="col s12 m6">
		<div class="panel panel-danger">
			<div class="panel-heading pink">
				<i></i> Últimos Comentarios
			</div>
			<div class="panel-body">
				<ul id="lista-ultimas-acciones" class="bordered hoverable">

				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m6 white ">
		
			<div id='calendar'></div>
	
	</div>

	<div class="col s12 m6 pad45">
		<div class="panel panel-warning">
			<div class="panel-heading purple">
				<i></i> Mis últimas acciones
			</div>
			<div class="panel-body">
				<ul id="lista-ultimas-acciones" class="bordered hoverable">

				</ul>
			</div>
		</div>
	</div>
</div>	


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'fullcalendar.min' %>
  <script type="text/javascript">
  
     $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'month,basicWeek',
          right: 'title'
        },
        defaultDate: Date(),
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        eventSources: [
                          {
                            url: '/eventos'
                          }
                      ],
    });
  </script>

<% end %>