<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Crear Nuevo Pa&iacute;s
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Crear Pa&iacute;s</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div id="form_wizard_1" class="center-block">
  <%= form_for @pais, :url => pais_crear_pais_path, html:{id: "add_pais", class: "form-horizontal"} do |f| %>
    <div class="form-wizard">
      <div class="form-body steps">
        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert-success display-none">
            <button class="close" data-dismiss="alert"></button>
            La validación fue exitosa.
          </div>
          <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="col s9 offset-s1 left">
                <h5>Datos del Pa&iacute;s</h5>
    
                <div class="input-field col s8">
                  <label for="pais_nombre">Nombre: <span class="required">
                  * </span>
                  </label>
                  <%= f.text_field :nombre, :required=>true, autocomplete: "off", :class => "text-capitalize" %>
                </div>

                <div class="input-field pad-30 col s3">
                  <label for="pais_iso">Iso: <span class="required">
                  * </span>
                  </label>
                  <%= f.text_field :iso, :required=>true, autocomplete: "off", :class => "text-uppercase"  %>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            
            <input type="submit" class="btn btn-success " value="Guardar">
            <button type="button" onclick="window.location.href='/paises'" class="btn btn-danger waves-effect">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascript_personalizado do %>
<script type="text/javascript">
  $(document).ready(function(){
      $('#form_wizard_1 .alert-danger').hide();
      $('#form_wizard_1 .alert-success').hide();
  });
</script>
<% end %>