<% content_for :css_personalizado do %>
    <style type="text/css">
      .dropdown-content {
        max-height: 250px;  
      }
    </style>
<% end %>
<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase">
       Publicidades
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Publicidades</li>
      </ol>
    </div>
  </div>
</div>

<div class="row pad30-h">

  <div class="fixed-action-btn " style="top: 250px; bottom: 0px">
    <a href="/publicidad/agregar" class="btn-floating btn-sm waves-effect waves-light red left absolute tooltipped" style="margin-bottom: 60px;" data-position="left" data-delay="50" data-tooltip="Agregar Publicidad">
      <i class=" mdi-av-playlist-add"></i>
    </a>
  </div>

  <div class="row">
    <div class="col s12 ">
       
      <div class="valign-wrapper">
        <div class="col">
          <i class="fa fa-calendar"></i>
          <span style="padding-left: 5px">Fecha</span>     
        </div>
       
        <div class="input-field col s12 m2">
          <input id="Desde" type="date" class="datepicker">
          <label for="Desde" class = "morado">Inicio</label>
        </div>

        <div class="input-field col s12 m2">
          <input id="Hasta" type="date" class="datepicker">
          <label for="Hasta" class = "morado">Fin</label>
        </div>

        <a class="waves-effect waves-light btn z-depth-1 " style = " margin-left: 27px;">Buscar </a>
      </div>

    </div>  
  </div>

  <div class="row">
    <div id="publicidad" class="col s12" align="justify">
      <%= render "publicidads/publicidad_table" %>

    </div>
    <%= render "publicidads/modal_publicidad" %>
  </div>
</div>


<div id="notificacion" class="modal text-center">
</div>

<% content_for :javascript_personalizado do %>
  <script type="text/javascript">


  function update_estatus(idpublicidad, estatus){
    var modal = "#modal_deshabilitar"+ idpublicidad;
    $(modal).closeModal();
        var html = "<div><div class='progress'><div class='indeterminate'></div></div>"+
                          "</div><h5>Espera mientras realizamos su operacion.</h5>";
    $("#notificacion").html(html);
    $('#notificacion').openModal();

    var request = $.ajax({
                            url: '/publicidad/update_estatus',
                            method: "POST",
                            data: { idpublicidad: idpublicidad, estatus: estatus},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
              var html = "<div><i class='large mdi-action-done  "+
              "light-blue-text darken-2'></i></div><h5>Su operación ha sido "+
              "realizada exitosamente</h5>"
              $("#notificacion").html(html);
              $('#notificacion').slideDown(250);
              setTimeout(function(){
                $('#notificacion').closeModal();
                location.reload();
                  }, 3000);
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
    };

  function eliminar(idpublicidad){
    var modal = "#modal_eliminar"+ idpublicidad;
    $(modal).closeModal();
    var html = "<div><div class='progress'><div class='indeterminate'></div></div>"+
                          "</div><h5>Espere mientras realizamos su operación.</h5>"
    $("#notificacion").html(html);
    $('#notificacion').openModal();
    var request = $.ajax({
                            url: '/publicidad/eliminar',
                            method: "POST",
                            data: { idpublicidad: idpublicidad},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
              var html = "<div><i class='large mdi-action-done  "+
              "light-blue-text darken-2'></i></div><h5>Su operación ha sido realizada "+
              " exitosamente</h5>"
              $("#notificacion").html(html);
              $('#notificacion').slideDown(250);
              setTimeout(function(){ 
                $('#notificacion').closeModal();
                location.reload();
                  }, 3000);
        });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
  }

  </script>
<% end %>