<div>
	<div class="org-contenedor-banner org-contenedor-banner-img">
		<img src="<%= @organizacion.formato_banner%><%= @organizacion.banner%>" />
	</div>

		<br/><br/><br/><br/>

	<div class="org-contenedor-texto">
		<h1><%= @organizacion.titulo_banner%></h1><br />
		<h5><%= @organizacion.subtitulo_banner%></h5>
		<br/><br/><br/>
		<a href="#index-marco" class="waves-effect btn">Con&oacute;cenos</a>
	</div>	
</div>