<div>
	<div class="org-contenedor-banner org-contenedor-banner-img">
		<img src="/system/<%= request.subdomain %>/portafolio/Banner.jpg" />
	</div>

		<br/><br/><br/><br/>

	<div class="org-contenedor-texto">
		<h1>Venda de manera inteligente</h1><br />
		<h5>Descubre el plan que m&aacute;s te convenga o comienza tu prueba gratuita ya</h5>
		<br/><br/><br/>
		<a href="#index-marco" class="waves-effect btn">Con&oacute;cenos</a>
	</div>	
</div>