<!-- *************** -->
<!-- ** ACERCA DE ** -->
<!-- *************** -->
<h4>Acerca de
<span class="org-sub-nombre"> <%= @organizacion.nombre %></span></h4>
  <% if ! @organizacion.slogan.nil? and @organizacion.slogan != "" %>
    <h6 class="org-sub-bold">{<%= @organizacion.slogan %>}</h6>
  <%else%>
    <br />
  <%end%>
<br />
<!-- ************ -->
<!-- ** MISION ** -->
<!-- ************ -->
<div class="row pad60-h">
  <div class="col s6">
    <p class="org-sub-bold"> Misi&oacute;n</p>
    <% if ! @organizacion.mision.nil? and @organizacion.mision != "" %>
      <div class="text-justity">
       	<span><%= @organizacion.mision %></span>
      </div>
    <%else%>
      </br>
      <p>*** Esta secci&oacute;n est&aacute; en construcci&oacute;n ***</p>
    <%end%>
  </div>
  <!-- ************ -->
  <!-- ** VISION ** -->
  <!-- ************ -->
  <div class="col s6">
    <p class="org-sub-bold"> Visi&oacute;n</p>
    <% if ! @organizacion.vision.nil? and @organizacion.vision != "" %>
    	<div class="text-justity">
        	<span><%= @organizacion.vision %></span>
      </div>
    <%else%>
      </br>
      <p>*** Esta secci&oacute;n est&aacute; en construcci&oacute;n ***</p>
    <%end%>
  </div>
</div>