<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-capitalize ">
          Editar Banner de la Organizac&oacute;n
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Ediatr Banner</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h">
  <div></div>
</div>