<!-- perfil/apariencia  -->

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Temas
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Temas</li>
        </ol>
      </div>
    </div>
  </div>
</div>



<div class="row pad30-h">
	<div class="col s12 m7">
		<span> El diseño te permitirá llevar un color que identifique a tu organización, elige tu estilo y mejora como te ven tus usuarios. </span>
	</div>	
	<div class="col s12 m3">
		<select>
			<option value="0" selected>Diseños</option>
			<option value="1">Diseño en Azul</option>
			<option value="2">Diseño en Blanco</option>
			<option value="3">Diseño en Rojo</option>
		</select>
	</div>	
	<div>

		<a class="btn btn-primary" href="/apariencia/editar">Guardar</a>
		
	</div>
</div>

<div class="row pad30-h">
	<div class="col s12 m12">
		<h5 class="text-uppercase pad15-h"> Estilos de apariencias </h5>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema1-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Azul</h5>
					<p>
						El diseño en azul te permitirá asociar tu organización con la estabilidad y la profundidad, ademas representando la lealtad, confianza, sabiduría e inteligencia que los caracteriza.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/estilos/Tema1-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema1-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
				</div>
			</div>
		</div>
	</div>


	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/blanco.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Blanco</h5>
					<p>
						El diseño en blanco te permitirá asociar tu organización con la armonía, el crecimiento y la frescura. Si tu empresa es conservacionista o sobre productos de medicina este color es el ideal.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/estilos/blanco.jpg"  class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/blanco.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema2-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Rojo</h5>
					<p>
						El diseño en rojo te permitirá llevar un color intenso a tu organización, la energía, la fortaleza y determinación. Resalta sobre el resto de los colores.
					</p>
					
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/estilos/Tema2-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema2-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/estilos/Tema3-Empresa.png" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Menta</h5>
					<p>
						El diseño en rojo te permitirá llevar un color intenso a tu organización, la energía, la fortaleza y determinación. Resalta sobre el resto de los colores.
					</p>
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/estilos/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/estilos/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Ver" target="_blank"><i class="medium mdi-action-launch"></i></a>

			</div>
		</div>
	</div>
	

</div>