<!-- perfil/apariencia  -->

<div class="row titulo-seccion banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Temas
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Temas</li>
        </ol>
      </div>
    </div>
</div>



<div class="row pad30-h">
	<div class="col s12 m7">
		<span> El diseño te permitirá llevar un color que identifique a tu organización, elige tu estilo y mejora como te ven tus usuarios. </span>
	</div>	
	<div class="col s12 m3">
		<select id="select_tema">
			<option value="azul">Diseño en Azul</option>
			<option value="rosa">Diseño en Rosa</option>
			<option value="magenta">Diseño en Magenta</option>
			<option value="menta">Diseño en Menta</option>
		</select>
	</div>	
	<div>

		<a class="btn btn-primary" id="guardar_tema">Guardar</a>
		
	</div>
</div>

<div class="row pad30-h">
	<div class="col s12 m12">
		<h5 class="text-uppercase pad15-h"> template de apariencias </h5>
	</div>

	
	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/template/Tema1-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Azul</h5>
					<p>
						El diseño en azul te permitirá asociar tu organización con la estabilidad y la profundidad, ademas representando la lealtad, confianza, sabiduría e inteligencia que los caracteriza.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/template/Tema1-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/template/Tema1-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
					
				</div>
			</div>
		</div>
	</div>


	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/template/blanco.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Rosa</h5>
					<p>
						El diseño en blanco te permitirá asociar tu organización con la armonía, el crecimiento y la frescura. Si tu empresa es conservacionista o sobre productos de medicina este color es el ideal.
					</p>
				</div>
				<div class="col s12 m2 text-center">
					<a href="/assets/template/blanco.jpg"  class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/template/blanco.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/template/Tema2-Empresa.jpg" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Magenta</h5>
					<p>
						El diseño en magenta te permitirá llevar un color intenso a tu organización, la energía, la fortaleza y determinación. Resalta sobre el resto de los colores.
					</p>
					
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/template/Tema2-Empresa.jpg" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/template/Tema2-Empresa.jpg" target="_blank" class="tooltipped" data-position="bottom"  data-tooltip="Ver"><i class="medium mdi-action-launch"></i></a>
					
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="panel pad15">
			<div class="row">
				<div class="col s12 m3 center-align">
					<img src="/assets/template/Tema3-Empresa.png" class="img-responsive"/>
				</div>
				<div class="col s12 m7">
					<h5> Diseño en Menta</h5>
					<p>
						El diseño en blanco te permitirá asociar tu organización con la armonía, el crecimiento y la frescura. Si tu empresa es conservacionista o sobre productos de medicina este color es el ideal.
					</p>
				</div>
				<div class="col s12 m2 text-center ">
					<a href="/assets/template/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Descargar" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/template/Tema3-Empresa.png" class="tooltipped" data-position="bottom"  data-tooltip="Ver" target="_blank"><i class="medium mdi-action-launch"></i></a>
					
				</div>
			</div>
		</div>
	</div>

</div>

<% content_for :javascript_personalizado do %>
<script type="text/javascript">

  $('#guardar_tema').on('click', function() {
    var request = $.ajax({
                            url: '/campanas_publicitaria/enviar_correo/',
                            method: "POST",
                            data: {},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                      var html = "<div><i class='large mdi-action-done  "+
                                "light-blue-text darken-2'></i></div><h5>Su Email "+
                                "se ha enviado exitosamente</h5><p class='lead'>Gracias"+
                                " por elegirnos.</p>"
                                $("#notificacion").html(html);
                                $('#notificacion').openModal();
                               setTimeout(function(){
                                        window.location.href= "/campanas_publicitaria/emails"
                                    }, 1000);
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
  });

</script>
<% end -%>