<div>
	
		<div id="llamada"class="container">
			<div class="row">
				<div class="col s8">
					<div id="card-container" class="card-panel white">
						<div class='contactPic'></div>
						<ul class="right-align">
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">message</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">volume_up</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">mic_off</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">dialpad</i></a>
							</li>
						</ul>
						<span class="end-call-botton z-depth-1">
							<i class="small material-icons">call_end</i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div id="chat" class="container">
			<div class="row">
				<div class="col s8">
					<div id="card-container" class="card-panel white">
						<ul class="actions-menu">
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">message</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">volume_up</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">mic_off</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">dialpad</i></a>
							</li>
						</ul>
						<ul class="convo left-align">
							<li class="right-align">
								<span class="text">Call no answer <i class="material-icons  cyan-text lighten-1">phone</i></span>
								<img class="avatar" src="img/r.png" alt="Contact Person">
							</li>
							<li class="right-align">
								<span class="text">Call no answer <i class="material-icons  cyan-text lighten-1">phone</i></span>
								<img class="avatar" src="img/r.png" alt="Contact Person">
							</li>
							<li class="left-align">
								<img class="avatar" src="img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons amber-text lighten-1">call_missed</i> Missed Call</span>
							</li>
							<li class="left-align">
								<img class="avatar" src="img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons cyan-text lighten-1">call_received</i> Call <i class="grey-text lighten-1">1m 43s</i></span>
							</li>
							<li class="right-align">
								<span class="text">Call <i class="grey-text lighten-1">40s</i> <i class="material-icons  cyan-text lighten-1">call_received</i></span>
								<img class="avatar" src="img/r.png" alt="Contact Person">
							</li>
							<li class="left-align">
								<img class="avatar" src="img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons amber-text lighten-1">call_missed</i> Missed Call</span>
							</li>
						</ul>
						
						<span class="end-call-botton green accent-3 z-depth-1">
							<i class="small material-icons">call_end</i>
						</span>
					</div>
				</div>
			</div>
		</div>


</div>