<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "style" %> 
<% end %>
<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-capitalize">
   			Llamada
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Llamada</li>
        </ol>
      </div>
    </div>
  </div>
</div>
	<div id="llamada" class="pad30-h">
			<div class="row card-panel white">
				<div class="col s12 m6">
					<div id="card-container" class="">
						<div class='contactPic'></div>
						<ul class="right-align">
							<li><a href="javascript:void(0)">
								<i class="small mdi-communication-message deep-purple-text darken-1"></i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small mdi-av-volume-up deep-purple-text darken-1"></i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small  mdi-av-mic-off deep-purple-text darken-1"></i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small  mdi-communication-dialpad deep-purple-text darken-1"></i></a>
							</li>
						</ul>
						<span class="end-call-botton z-depth-1">
							<i class="small  mdi-communication-call-end"></i>
						</span>
					</div>
				</div>

				<div class="col s12 m6">
					<div id="card-container" style="    border-left: solid 2px rgb(232, 231, 237);">
						<ul class="convo left-align">
							<li class="right-align">
								<span class="text">Call no answer <i class="material-icons  cyan-text lighten-1 mdi-communication-phone"></i></span>
								<img class="avatar" src="assets/img/r.png" alt="Contact Person">
							</li>
							<li class="right-align">
								<span class="text">Call no answer <i class="material-icons  cyan-text lighten-1 mdi-communication-phone"></i></span>
								<img class="avatar" src="assets/img/r.png" alt="Contact Person">
							</li>
							<li class="left-align">
								<img class="avatar" src="assets/img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons amber-text mdi-communication-call-missed lighten-1"></i> Missed Call</span>
							</li>
							<li class="left-align">
								<img class="avatar" src="assets/img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons cyan-text lighten-1 mdi-communication-call-received "></i> Call <i class="grey-text lighten-1">1m 43s</i></span>
							</li>
							<li class="right-align">
								<span class="text">Call <i class="grey-text lighten-1">40s</i> <i class="material-icons  cyan-text lighten-1 mdi-communication-call-received"></i></span>
								<img class="avatar" src="/assets/img/r.png" alt="Contact Person">
							</li>
							<li class="left-align">
								<img class="avatar" src="/assets/img/Untitled-2.png" alt="Contact Person">
								<span class="text"><i class="material-icons amber-text lighten-1  mdi-communication-call-missed l"></i> Missed Call</span>
							</li>
						</ul>
						
						
					</div>
				</div>
			</div>
		</div>
