<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "style" %> 
<% end %>
<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-capitalize">
         Campañas Publicitarias Para Llamadas
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Campañas Publicitarias</li>
        </ol>
      </div>
    </div>
  </div>
</div>
	<div class="container">
			<div class="row">
				<div class="col s12">
					<div id="card-container" class="card-panel white">
						<div class='contactPic'></div>
						<ul class="right-align">
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">message</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">volume_up</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">mic_off</i></a>
							</li>
							<li><a href="javascript:void(0)">
								<i class="small material-icons deep-purple-text darken-1">dialpad</i></a>
							</li>
						</ul>
						<span class="end-call-botton z-depth-1">
							<i class="small material-icons">call_end</i>
						</span>
					</div>
				</div>
			</div>
		</div>