<div class="row titulo-seccion no-margin-v">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Interacción Social 
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb" style="margin-bottom: 0px !important">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Interacción Social</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h white no-margin-v">
  <div class="col s12 m3">
      <ul class="collapsible filtro" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active  grey lighten-4">
            <i class="fa fa-calendar fa-2x deep-purple-text text-darken-1"></i>
            <span class="deep-purple-text text-darken-1">Fecha</span>
          </div>
          <div class="collapsible-body white">
            <div style = " display: table; width : 100%;">

              <div class="input-field col s6">
                <input id="Desde" type="date" class="datepicker">
                <label for="Desde" class = "morado">Inicio</label>

              </div>

              <div class="input-field col s6">
                <input id="Hasta" type="date" class="datepicker">
                <label for="Hasta" class = "morado">Fin</label>
              </div>

            </div>
            <a class="waves-effect waves-light btn z-depth-1 espacio pink accent-3" style = " margin-left: 27px;">Buscar </a>
          </div>
        </li>
      </ul>
  </div>

  <div class="col s12 m9">
    <div class="row no-margin-v">
      <div class="input-field col m6 s12">
       <select id="select" name="rol" >
            <option value="-1" selected>Elija un Producto</option>
            <%= options_from_collection_for_select(Producto.all, :id, :nombre) %>
        </select>
        <label>Producto</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center-align">
          <img src="/assets/Post2.png" class="img-responsive"/>
        </div>
    </div>

  </div>
  
</div>