.x-tree-icon {
  display: none;
  width: 0px;
  height: 0px;
}
  
.x-grid-item{
  height: 45px;
}

.x-grid-td {
    overflow: hidden;
    border-width: 0;
    vertical-align: middle !important;
    padding: 9px 9px !important;
}

.side-nav a {
    color: #444;
    display: initial !important;
    font-size: 1rem;
    height: 20px;
    line-height: 20px;
    padding: 0 0px !important; 
}

.x-tree-node-text{
    font-size: 1rem;
    color: #BB5A78 !important;
    font-family: Roboto;
    height: 40px;
     text-transform: capitalize;
}
.x-tree-node-text > i{
  color: #713ce2 !important;
}
.x-grid-item-focused .x-grid-cell-inner:before{
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:none;
}

.x-grid-item-selected {
    color: #BB5A78 !important;
    background-color: #EBECE8 !important;
}

.x-grid-item-over{
  background-color: #EBECE8 !important;
  color:#BB5A78;
}

.x-grid-item-focused{
	outline:0;
  color:#BB5A78;
}

.x-grid-item-focused .x-grid-cell-inner:before{
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:none !important
}

.x-grid-item-selected{
	color:black;
	background-color:#c1ddf1
}

.side-nav {
    position: fixed;
    width: 220px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: hidden !important; 
    will-change: left;
    transition: width 0.30s;
}

.x-grid-cell-inner {
    overflow: auto;
    white-space: pre-line !important;
}

.x-grid-cell-inner {
    position: relative;
    text-overflow: initial !important;
  }

 #tree_el > .x-panel, .x-plain {
    overflow-y: auto !important;
    max-height: 390px;
}

.x-body {
    font-size: 15px !important;
    font-weight: 300 !important;
    line-height: 1.42857143 !important;
    color: #6D6D6D;
    font-family: "Roboto", sans-serif !important;
}
/**************************************/
/******** Estructura Jerarquica *******/
/*************************************/
  .x-menu-icon-separator-default {
    left: 26px;
    border-left: none !important; 
    background-color: white;
    width: 1px;
  }

.x-menu-item-icon-default.x-menu-item-glyph {
    font-size: 18px !important;
    line-height: 18px !important;
    color: gray;
    opacity: 1 !important;
}


.x-menu-item-text-default {
    font: normal 14px Roboto, verdana, sans-serif !important;
    line-height: 23px;
    padding-top: 1px;
    color: #5F5B5B;
    cursor: pointer;
}

.x-menu-item-icon-default.x-menu-item-glyph {
    font-size: 18px;
    line-height: 18px;
    color: #04ABF7;
    opacity: 1;
}

.x-menu-item-default.x-menu-item-active {
  background-image: none;
  background-color: #EBECE8 !important;
}

#estructura-body{
    border-top: none !important;
}


body {
    background-color: #e8e7ed !important;
}


.tree_estructura .x-grid-item{
  height: 43px;
  background: #E8E7ED;
}

.tree_estructura .x-grid-item-over{
  background-color:  rgba(181, 180, 184, 0.41) !important;
  color:#BB5A78;
}

.tree_estructura .x-grid-item-selected {
    color: #BB5A78 !important;
    background-color: rgba(181, 180, 184, 0.41)  !important;
}


.tree_estructura .x-grid-body {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.addnode .x-menu-item-glyph {
  color: #64dd17 !important;
}


#delnode .x-menu-item-glyph {
  color: #EA0D1D !important;
}

#editnode .x-menu-item-glyph {
  color: #0091ea !important;
}

.btnForm i {
    font-size: 1rem !important;
    line-height: inherit;
}

.fa-select {
    font-family: Roboto, 'FontAwesome';
}

.fa-select > ul{
    max-height: 200px;
    overflow: auto;
}

#ventanaEdicion{
  max-height: 80% !important;
  width: 40% !important;
}