<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
         Mis Notas
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Notas</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="row pad30-h">
   <div class="chip">
    Jane Doe
    <i class="mdi-content-clear material-icons "></i>
    </div>
</div>